.container-fluid, .row {
  margin: 0;
  padding: 0; }

body {
  min-width: 390px;
  position: relative; }

header {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-animation: fadeDown .25s ease .25s forwards;
  -moz-animation: fadeDown .25s ease  .25s forwards;
  -ms-animation: fadeDown .25s ease  .25s forwards;
  -o-animation: fadeDown .25s ease  .25s forwards;
  animation: fadeDown .25s ease  .25s forwards;
  height: 50px;
  position: absolute;
  width: 100%;
  z-index: 2; }
  header div {
    -webkit-transform: translate(0, -50%);
    /* Chrome, Safari, Opera */
    -moz-transform: translate(0, -50%);
    /* IE 9 */
    -ms-transform: translate(0, -50%);
    /* IE 9 */
    transform: translate(0, -50%);
    height: 30px;
    position: absolute;
    top: 50%; }
    header div a {
      background: url("../img/small-logo.png") no-repeat;
      background-size: 100%;
      display: inline-block;
      height: 30px;
      text-indent: -9999px;
      width: 30px; }
  header nav {
    -webkit-transform: translate(0, -50%);
    /* Chrome, Safari, Opera */
    -moz-transform: translate(0, -50%);
    /* IE 9 */
    -ms-transform: translate(0, -50%);
    /* IE 9 */
    transform: translate(0, -50%);
    position: absolute;
    top: 50%;
    text-align: right; }
    header nav ul {
      margin: 0;
      padding: 0; }
      header nav ul li {
        display: inline-block;
        font-size: 20px;
        list-style: none;
        padding: 0 11px; }
        header nav ul li a {
          color: #4CC393; }
        header nav ul li a:hover {
          color: #4CC393;
          text-decoration: none; }
  header.fixed {
    background: rgba(0, 0, 0, 0.5);
    height: 40px;
    position: fixed; }
    header.fixed nav ul li a {
      color: #FFF; }
      header.fixed nav ul li a.selected {
        color: #4CC393; }

#section-home {
  background: url("../img/code-back.png") no-repeat;
  background-size: 100%;
  height: 380px;
  position: relative;
  width: 100%; }
  #section-home article {
    -webkit-transform: translate(0, -50%);
    /* Chrome, Safari, Opera */
    -moz-transform: translate(0, -50%);
    /* IE 9 */
    -ms-transform: translate(0, -50%);
    /* IE 9 */
    transform: translate(0, -50%);
    position: absolute;
    top: 50%;
    width: 100%; }
    #section-home article p {
      -webkit-transform: translate(-50%, 0);
      /* Chrome, Safari, Opera */
      -moz-transform: translate(-50%, 0);
      /* IE 9 */
      -ms-transform: translate(-50%, 0);
      /* IE 9 */
      transform: translate(-50%, 0);
      color: #555;
      font-size: 20px;
      left: 50%;
      position: relative;
      text-align: center;
      width: 70%; }
    #section-home article .circle {
      -webkit-border-radius: 50%;
      /* Chrome, Safari, Opera */
      -moz-border-radius: 50%;
      /* IE 9 */
      -ms-border-radius: 50%;
      /* IE 9 */
      border-radius: 50%;
      -webkit-transform: translate(-50%, 0);
      /* Chrome, Safari, Opera */
      -moz-transform: translate(-50%, 0);
      /* IE 9 */
      -ms-transform: translate(-50%, 0);
      /* IE 9 */
      transform: translate(-50%, 0);
      left: 50%;
      position: relative;
      width: 100px;
      overflow: hidden; }
      #section-home article .circle img {
        width: 100px; }

#orange-round {
  height: 40px;
  position: absolute;
  top: 391px;
  right: 0; }

#section-about {
  background: #FF3F00;
  height: 380px;
  position: relative; }
  #section-about p.article-text {
    -webkit-transform: translate(-50%, -50%);
    /* Chrome, Safari, Opera */
    -moz-transform: translate(-50%, -50%);
    /* IE 9 */
    -ms-transform: translate(-50%, -50%);
    /* IE 9 */
    transform: translate(-50%, -50%);
    color: #FFF;
    font-size: 20px;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 70%; }
  #section-about p.article-title {
    color: #555;
    font-size: 30px;
    left: 20px;
    position: absolute;
    top: 20px; }

#section-works {
  height: 380px;
  position: relative;
  width: 100%; }
  #section-works article {
    -webkit-transform: translate(0, -50%);
    /* Chrome, Safari, Opera */
    -moz-transform: translate(0, -50%);
    /* IE 9 */
    -ms-transform: translate(0, -50%);
    /* IE 9 */
    transform: translate(0, -50%);
    margin-top: 10px;
    position: absolute;
    top: 50%;
    width: 100%; }
    #section-works article p {
      -webkit-transform: translate(-50%, 0);
      /* Chrome, Safari, Opera */
      -moz-transform: translate(-50%, 0);
      /* IE 9 */
      -ms-transform: translate(-50%, 0);
      /* IE 9 */
      transform: translate(-50%, 0);
      color: #555;
      font-size: 18px;
      left: 50%;
      position: relative;
      text-align: center; }
    #section-works article p.tags {
      color: #FF3F00; }
    #section-works article .circle {
      -webkit-border-radius: 50%;
      /* Chrome, Safari, Opera */
      -moz-border-radius: 50%;
      /* IE 9 */
      -ms-border-radius: 50%;
      /* IE 9 */
      border-radius: 50%;
      -webkit-transform: translate(-50%, 0);
      /* Chrome, Safari, Opera */
      -moz-transform: translate(-50%, 0);
      /* IE 9 */
      -ms-transform: translate(-50%, 0);
      /* IE 9 */
      transform: translate(-50%, 0);
      left: 50%;
      position: relative;
      width: 100px;
      overflow: hidden; }
      #section-works article .circle img {
        width: 100px; }
  #section-works p.article-title {
    color: #4CC393;
    font-size: 30px;
    left: 20px;
    position: absolute;
    top: 20px; }
  #section-works #extra-work {
    display: none; }

#white-round {
  bottom: 211px;
  height: 40px;
  left: 0;
  position: absolute;
  z-index: 2; }

footer {
  background: #555;
  height: 250px;
  position: relative; }
  footer img {
    -webkit-transform: translate(-50%, -50%);
    /* Chrome, Safari, Opera */
    -moz-transform: translate(-50%, -50%);
    /* IE 9 */
    -ms-transform: translate(-50%, -50%);
    /* IE 9 */
    transform: translate(-50%, -50%);
    left: 50%;
    position: absolute;
    top: 50%;
    width: 140px; }

@media (max-width: 585px) {
  #section-works article p {
    font-size: 14px; } }
@media (min-width: 768px) {
  header {
    height: 80px; }
    header div {
      height: 50px; }
      header div a {
        background: url("../img/inline-logo.png") no-repeat;
        height: 50px;
        width: 190px; }
    header nav ul li {
      font-size: 38px; }
    header.fixed {
      height: 60px; }

  #section-home {
    height: 570px; }
    #section-home article p {
      width: 50%;
      font-size: 34px; }
    #section-home article .circle {
      width: 180px; }
      #section-home article .circle img {
        width: 180px; }

  #orange-round {
    height: 87px;
    top: 484px; }

  #section-about p.article-text {
    font-size: 27px;
    width: 50%; }
  #section-about p.article-title {
    font-size: 34px; }

  #section-works #extra-work {
    display: inline-block; }

  #white-round {
    bottom: 164px;
    height: 87px; } }

/*# sourceMappingURL=default.css.map */
