.container-fluid, .row {
  margin: 0;
  padding: 0; }

body {
  min-width: 390px;
  position: relative; }

header {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-animation: fadeDown .25s ease .25s forwards;
  -moz-animation: fadeDown .25s ease  .25s forwards;
  -ms-animation: fadeDown .25s ease  .25s forwards;
  -o-animation: fadeDown .25s ease  .25s forwards;
  animation: fadeDown .25s ease  .25s forwards;
  height: 50px;
  position: absolute;
  width: 100%;
  z-index: 5; }
  header div {
    -webkit-transform: translate(0, -50%);
    /* Chrome, Safari, Opera */
    -moz-transform: translate(0, -50%);
    /* IE 9 */
    -ms-transform: translate(0, -50%);
    /* IE 9 */
    transform: translate(0, -50%);
    height: 30px;
    position: absolute;
    top: 50%; }
    header div a {
      background: url("../img/small-logo.png") no-repeat;
      background-size: 100%;
      display: inline-block;
      height: 30px;
      text-indent: -9999px;
      width: 30px; }
  header nav {
    -webkit-transform: translate(0, -50%);
    /* Chrome, Safari, Opera */
    -moz-transform: translate(0, -50%);
    /* IE 9 */
    -ms-transform: translate(0, -50%);
    /* IE 9 */
    transform: translate(0, -50%);
    position: absolute;
    top: 50%;
    text-align: right; }
    header nav ul {
      margin: 0;
      padding: 0; }
      header nav ul li {
        display: inline-block;
        font-size: 20px;
        list-style: none;
        padding: 0 11px; }
        header nav ul li a {
          color: #4CC393; }
        header nav ul li a:hover {
          color: #4CC393;
          text-decoration: none; }
  header.fixed {
    background: rgba(0, 0, 0, 0.5);
    height: 40px;
    position: fixed; }
    header.fixed nav ul li a {
      color: #FFF; }
      header.fixed nav ul li a.selected {
        color: #4CC393; }

#section-home {
  background: url("../img/code-back.png") no-repeat;
  background-size: 100%;
  height: 380px;
  margin-top: 50px;
  position: relative;
  width: 100%; }
  #section-home article {
    -webkit-transform: translate(0, -50%);
    /* Chrome, Safari, Opera */
    -moz-transform: translate(0, -50%);
    /* IE 9 */
    -ms-transform: translate(0, -50%);
    /* IE 9 */
    transform: translate(0, -50%);
    position: absolute;
    top: 50%;
    width: 100%; }
    #section-home article p {
      -webkit-transform: translate(-50%, 0);
      /* Chrome, Safari, Opera */
      -moz-transform: translate(-50%, 0);
      /* IE 9 */
      -ms-transform: translate(-50%, 0);
      /* IE 9 */
      transform: translate(-50%, 0);
      color: #555;
      font-size: 20px;
      left: 50%;
      position: relative;
      text-align: center;
      width: 70%; }
    #section-home article .circle {
      -webkit-border-radius: 50%;
      /* Chrome, Safari, Opera */
      -moz-border-radius: 50%;
      /* IE 9 */
      -ms-border-radius: 50%;
      /* IE 9 */
      border-radius: 50%;
      -webkit-transform: translate(-50%, 0);
      /* Chrome, Safari, Opera */
      -moz-transform: translate(-50%, 0);
      /* IE 9 */
      -ms-transform: translate(-50%, 0);
      /* IE 9 */
      transform: translate(-50%, 0);
      left: 50%;
      position: relative;
      width: 100px;
      overflow: hidden; }
      #section-home article .circle img {
        width: 100px; }

#orange-round {
  height: 40px;
  position: absolute;
  top: 391px;
  right: 0; }

#section-about {
  background: #FF3F00;
  height: 380px;
  position: relative; }
  #section-about p.article-text {
    -webkit-transform: translate(-50%, -50%);
    /* Chrome, Safari, Opera */
    -moz-transform: translate(-50%, -50%);
    /* IE 9 */
    -ms-transform: translate(-50%, -50%);
    /* IE 9 */
    transform: translate(-50%, -50%);
    color: #FFF;
    font-size: 20px;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 70%; }
  #section-about p.article-title {
    color: #555;
    font-size: 30px;
    left: 20px;
    position: absolute;
    top: 20px; }

#section-works {
  height: 380px;
  position: relative;
  width: 100%; }
  #section-works article {
    -webkit-transform: translate(0, -50%);
    /* Chrome, Safari, Opera */
    -moz-transform: translate(0, -50%);
    /* IE 9 */
    -ms-transform: translate(0, -50%);
    /* IE 9 */
    transform: translate(0, -50%);
    margin-top: 10px;
    position: absolute;
    top: 50%;
    width: 100%; }
    #section-works article p {
      -webkit-transform: translate(-50%, 0);
      /* Chrome, Safari, Opera */
      -moz-transform: translate(-50%, 0);
      /* IE 9 */
      -ms-transform: translate(-50%, 0);
      /* IE 9 */
      transform: translate(-50%, 0);
      color: #555;
      font-size: 18px;
      left: 50%;
      position: relative;
      text-align: center; }
    #section-works article p.tags {
      color: #FF3F00; }
    #section-works article .circle {
      position: relative;
      height: 150px;
      overflow: hidden; }
      #section-works article .circle img {
        -webkit-transform: translate(-50%, 0);
        /* Chrome, Safari, Opera */
        -moz-transform: translate(-50%, 0);
        /* IE 9 */
        -ms-transform: translate(-50%, 0);
        /* IE 9 */
        transform: translate(-50%, 0);
        height: 150px;
        left: 50%;
        position: absolute; }
  #section-works p.article-title {
    color: #4CC393;
    font-size: 30px;
    left: 20px;
    position: absolute;
    top: 20px; }
  #section-works .list-works {
    overflow: hidden;
    height: 380px;
    /*padding-left: 33.333333%;*/
    position: relative;
    -webkit-perspective: 4000px;
    /* Chrome, Safari, Opera */
    -moz-perspective: 4000px;
    /* IE 9 */
    -ms-perspective: 4000px;
    /* IE 9 */
    perspective: 4000px; }
    #section-works .list-works .work-article {
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      display: inline-block;
      position: relative;
      vertical-align: top;
      width: 50%;
      top: 30px; }
      #section-works .list-works .work-article.hide {
        display: none; }
      #section-works .list-works .work-article.left-side {
        -webkit-transform: translate(50%, 0%);
        /* Chrome, Safari, Opera */
        -moz-transform: translate(50%, 0%);
        /* IE 9 */
        -ms-transform: translate(50%, 0%);
        /* IE 9 */
        transform: translate(50%, 0%);
        -webkit-transform: rotateY(50deg);
        /* Chrome, Safari, Opera */
        -moz-transform: rotateY(50deg);
        /* IE 9 */
        -ms-transform: rotateY(50deg);
        /* IE 9 */
        transform: rotateY(50deg);
        position: absolute;
        left: -100px;
        top: 20px; }
      #section-works .list-works .work-article.rigth-side {
        -webkit-transform: translate(50%, 0%);
        /* Chrome, Safari, Opera */
        -moz-transform: translate(50%, 0%);
        /* IE 9 */
        -ms-transform: translate(50%, 0%);
        /* IE 9 */
        transform: translate(50%, 0%);
        -webkit-transform: rotateY(-50deg);
        /* Chrome, Safari, Opera */
        -moz-transform: rotateY(-50deg);
        /* IE 9 */
        -ms-transform: rotateY(-50deg);
        /* IE 9 */
        transform: rotateY(-50deg);
        position: absolute;
        right: -100px;
        top: 20px; }
  #section-works .works-nav {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 32px; }
  #section-works #backward {
    left: 16.666666%; }
  #section-works #forward {
    -webkit-transform: rotate(180deg);
    /* Chrome, Safari, Opera */
    -moz-transform: rotate(180deg);
    /* IE 9 */
    -ms-transform: rotate(180deg);
    /* IE 9 */
    transform: rotate(180deg);
    right: 16.66666%; }

#white-round {
  bottom: 241px;
  height: 40px;
  left: 0;
  position: absolute;
  z-index: 2; }

.sp {
  display: none; }

footer {
  background: #555;
  height: 280px;
  position: relative; }
  footer #bottom-logo {
    -webkit-transform: translate(-50%, -50%);
    /* Chrome, Safari, Opera */
    -moz-transform: translate(-50%, -50%);
    /* IE 9 */
    -ms-transform: translate(-50%, -50%);
    /* IE 9 */
    transform: translate(-50%, -50%);
    left: 50%;
    position: absolute;
    top: calc(50% - 50px);
    width: 80px; }
  footer p {
    bottom: 0;
    color: #FFF;
    position: absolute;
    width: 100%;
    text-align: center; }
  footer span {
    -webkit-transform: translate(-50%, 0);
    /* Chrome, Safari, Opera */
    -moz-transform: translate(-50%, 0);
    /* IE 9 */
    -ms-transform: translate(-50%, 0);
    /* IE 9 */
    transform: translate(-50%, 0);
    bottom: 90px;
    color: #FFF;
    font-size: 20px;
    position: absolute;
    left: 50%; }
  footer ul {
    -webkit-transform: translate(-50%, 0);
    /* Chrome, Safari, Opera */
    -moz-transform: translate(-50%, 0);
    /* IE 9 */
    -ms-transform: translate(-50%, 0);
    /* IE 9 */
    transform: translate(-50%, 0);
    bottom: 30px;
    padding: 0;
    position: absolute;
    left: 50%; }
    footer ul li {
      display: inline-block;
      height: 40px;
      list-style: none;
      position: relative;
      width: 40px; }
      footer ul li div {
        -webkit-border-radius: 50%;
        /* Chrome, Safari, Opera */
        -moz-border-radius: 50%;
        /* IE 9 */
        -ms-border-radius: 50%;
        /* IE 9 */
        border-radius: 50%;
        background: #FFF;
        display: none;
        height: 40px;
        width: 40px;
        position: absolute; }
      footer ul li img {
        position: absolute;
        width: 40px; }

.btn-file {
  position: relative;
  overflow: hidden; }

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block; }

@media (max-width: 585px) {
  #section-works article p {
    font-size: 14px; } }
@media (min-width: 768px) {
  header {
    height: 80px; }
    header div {
      height: 50px; }
      header div a {
        background: url("../img/inline-logo.png") no-repeat;
        height: 50px;
        width: 190px; }
    header nav ul li {
      font-size: 30px; }
    header.fixed {
      height: 60px; }

  #section-home {
    height: 480px;
    margin: 0; }
    #section-home article p {
      width: 50%;
      font-size: 28px; }
    #section-home article .circle {
      width: 180px; }
      #section-home article .circle img {
        width: 180px; }

  #orange-round {
    height: 87px;
    top: 394px; }

  #section-about p.article-text {
    font-size: 27px;
    width: 50%; }
  #section-about p.article-title {
    font-size: 34px; }

  #section-works .list-works .work-article {
    width: 33.333333%; }
    #section-works .list-works .work-article.left-side {
      left: -150px; }
    #section-works .list-works .work-article.rigth-side {
      right: -150px; }
  #section-works #backward {
    left: 16.6666666%; }
  #section-works #forward {
    right: 16.6666666%; }

  #white-round {
    bottom: 194px;
    height: 87px; }

  footer #bottom-logo {
    top: calc(50% - 15px);
    width: 140px; }
  footer span {
    -webkit-transform: translate(0, 0);
    /* Chrome, Safari, Opera */
    -moz-transform: translate(0, 0);
    /* IE 9 */
    -ms-transform: translate(0, 0);
    /* IE 9 */
    transform: translate(0, 0);
    bottom: 230px;
    left: auto;
    right: 80px; }
  footer ul {
    -webkit-transform: translate(0, 0);
    /* Chrome, Safari, Opera */
    -moz-transform: translate(0, 0);
    /* IE 9 */
    -ms-transform: translate(0, 0);
    /* IE 9 */
    transform: translate(0, 0);
    bottom: 160px;
    left: auto;
    right: 50px; } }

/*# sourceMappingURL=default.css.map */
