$primary-color: #FF3F00;
$secundary-color: #555;
$alternative-color: #4CC393;

@mixin border($color,$width) {
  border: #{$width}px solid #{$color};
}

@mixin translate($tx,$ty){
    -webkit-transform: translate($tx,$ty);-moz-transform: translate($tx,$ty);-ms-transform: translate($tx,$ty);transform: translate($tx,$ty);
}

@mixin rotateY($angle){
    -webkit-transform: rotateY($angle);-moz-transform: rotateY($angle);-ms-transform: rotateY($angle);transform: rotateY($angle);
}

@mixin rotate($angle){
    -webkit-transform: rotate($angle);-moz-transform: rotate($angle);-ms-transform: rotate($angle);transform: rotate($angle);
}

@mixin perspective($value){
    -webkit-perspective: $value;-moz-perspective: $value;-ms-perspective: $value;perspective: $value;
}

@mixin border-radius($radius){
    -webkit-border-radius: $radius;-moz-border-radius: $radius;-ms-border-radius: $radius;border-radius: $radius;
}

@mixin transition{
    -webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-ms-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;
}

@mixin animation{
    -webkit-animation: fadeDown .25s ease .25s forwards;-moz-animation: fadeDown .25s ease  .25s forwards;-ms-animation: fadeDown .25s ease  .25s forwards;-o-animation: fadeDown .25s ease  .25s forwards;animation: fadeDown .25s ease  .25s forwards;
}

@mixin grayfilter($percentage){
	-webkit-filter: grayscale($percentage);-moz-filter: grayscale($percentage);-ms-filter: grayscale($percentage);-o-filter: grayscale($percentage);filter: grayscale($percentage);
}

.container-fluid,.row{
	margin: 0;
	padding: 0;
}

body{
	min-width: 390px;
	position: relative;
}

header{
	@include transition;
	@include animation;
	height: 50px;
	position: absolute;
	width: 100%;
	z-index: 5;
	div{
		@include translate(0,-50%);
		height: 30px;
		position: absolute;
		top: 50%;
		a{
			background: url('../img/small-logo.png') no-repeat;
			background-size: 100%;
			display: inline-block;
			height: 30px;
			text-indent: -9999px;
			width: 30px;
		}
	}
	nav{
		@include translate(0,-50%);
		position: absolute;
		top: 50%;
		text-align: right;
		ul{
			margin: 0;
			padding: 0;
			li{
				display: inline-block;
				font-size: 20px;
				list-style: none;
				padding: 0 11px;
				&:first-child{
					width: 40px;
				}
				&.hidden{
					width: 0;
				}
				a{
					color: $alternative-color;
				}	
				a:hover{
					color: $alternative-color;
					text-decoration: none;
				}	
			}
		}
	}
	&.fixed{
		background: rgba(0,0,0,0.5);
		height: 40px;
		min-width: 390px;
		position: fixed;
		nav {
			ul li a{
				color: #FFF;
				&.selected{
					color: $alternative-color;
				}
			}
		}
	}
}

#section-home{
	background: url("../img/code-back.png") no-repeat;
	background-size: 100%;
	height: 380px;
	margin-top: 50px;
	position: relative;
	width: 100%;
	article{
		@include translate(0,-50%);
		position: absolute;
		top: 50%;
		width: 100%;
		p{
			@include translate(-50%,0);
			color: $secundary-color;
			font-size: 20px;
			left: 50%;
			position: relative;	
			text-align: center;
			width: 70%;
		}
		.circle{
			@include border-radius(50%);
			@include translate(-50%,0);
			left: 50%;
			position: relative;	
			width: 100px;
			overflow: hidden;
			img{
				width: 100px;
			}
		}
	}
	
}
#orange-round{
	height: 40px;
	position: absolute;
	top: 380px + 50px - 40px + 1px;
	right: 0;
}
#section-about{
	background: $primary-color;
	height: 380px;
	position: relative;
	p.article-text{
		@include translate(-50%,-50%);
		color: #FFF;
		font-size: 20px;
		left: 50%;
		position: absolute;
		text-align: center;
		top: 50%;
		width: 70%;
	}
	p.article-title{
		color: $secundary-color;
		font-size: 30px;
		left: 20px;
		position: absolute;
		top: 20px;
	}
}

#section-works{
	height: 380px;
	position: relative;
	width: 100%;
	article{
		@include translate(0,-50%);
		margin-top: 10px;
		position: absolute;
		top: 50%;
		width: 100%;
		p{
			@include translate(-50%,0);
			color: $secundary-color;
			font-size: 18px;
			left: 50%;
			position: relative;	
			text-align: center;
		}
		p.tags{
			color: $primary-color;
		}
		.circle{
			position: relative;	
			height: 150px;
			overflow: hidden;
			img{
				@include translate(-50%,0);
				height: 150px;
				left: 50%;
				position: absolute;
			}
		}
	}
	p.article-title{
		color: $alternative-color;
		font-size: 30px;
		left: 20px;
		position: absolute;
		top: 20px;
	}
	.list-works{
		overflow: hidden;
		height: 380px;
		/*padding-left: 33.333333%;*/
		position: relative;
		@include perspective(4000px);

		.work-article{
			@include transition;
			display: inline-block;
			position: relative;
			vertical-align:top;
			width: 50%;
			top: 30px;
			&.hide{
				display: none;
			}
			&.left-side{
				@include translate(50%,0%);
				@include rotateY(50deg);
				position: absolute;
				left: -100px;
				top: 20px;
			}
			&.rigth-side{
				@include translate(50%,0%);
				@include rotateY(-50deg);
				position: absolute;
				right: -100px;
				top: 20px;
			}
		}
	}
	.works-nav{
		cursor: pointer;
		position: absolute;
		top:50%;
		width: 32px;
		&.disabled{
			@include grayfilter(100%);
		}
	}
	#backward{
		left: 16.666666%;
	}
	#forward{
		@include rotate(180deg);
		right: 16.66666%;
	}
}

#white-round{
	bottom: 280px - 40px + 1px;
	height: 40px;
	left: 0;
	position: absolute;	
	z-index: 2;
}

.sp{
	display: none;
}
footer{
	background: $secundary-color;
	height: 280px;
	position: relative;
	#bottom-logo{
		@include translate(-50%,-50%);
		left: 50%;
		position: absolute;
		top: calc(50% - 50px);
		width: 80px;
	}
	p{
		bottom: 0;
		color: #FFF;
		position: absolute;
		width: 100%;
		text-align: center;
	}
	span{
		@include translate(-50%,0);
		bottom: 90px;
		color: #FFF;
		font-size: 20px;
		position: absolute;
		left: 50%;
	}
	ul{
		@include translate(-50%,0);
		bottom: 30px;
		padding: 0;
		position: absolute;
		left: 50%;
		li{
			display: inline-block;
			height: 40px;
			list-style: none;	
			position: relative;
			width: 40px;
			div{
				@include border-radius(50%);
				background: #FFF;
				display: none;
				height: 40px;
				width: 40px;
				position: absolute;
			}
			img{
				position: absolute;
				width: 40px;
			}
		}
	}
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

@media(max-width:585px){
	#section-works{
		article{
			p{
				font-size: 14px;
			}
		}
	}
}
@media(min-width:768px){
	header{
		height: 80px;
		div{
			height: 50px;
			a{
				background: url('../img/inline-logo.png') no-repeat;
				height: 50px;
				width: 190px;
			}
		}
		nav{
			ul{
				li{
					font-size: 30px;
				}
			}
		}
		&.fixed{
			height: 60px;
		}
	}
	#section-home{
		height: 480px;
		margin: 0;
		article{
			p{
				width: 50%;
				font-size: 28px; 
			}
			.circle{
				width: 180px;
				img{
					width: 180px;
				}
			}
		}
	}
	#orange-round{
		height: 87px;
		top: 480px - 87px + 1px;
	}
	#section-about{
		p.article-text{
			font-size: 27px;
			width: 50%;
		}
		p.article-title{
			font-size: 34px;
		}
	}
	#section-works{
		.list-works{
			.work-article{
				width: 33.333333%;
				&.left-side{
					left: -150px;
				}
				&.rigth-side{
					right: -150px;
				}
			}
		}
		#backward{
			left: 16.6666666%;
		}
		#forward{
			right: 16.6666666%;
		}
	}
	#white-round{
		bottom: 280px - 87px + 1px;
		height: 87px;
	}
	footer{
		#bottom-logo{
			top: calc(50% - 15px);
			width: 140px;
		}
		span{
			@include translate(0,0);
			bottom: 230px;
			left: auto;
			right: 80px;
		}
		ul{
			@include translate(0,0);
			bottom: 160px;
			left: auto;
			right: 50px;
		}
	}
}