<form class="edit-work-form"  enctype="multipart/form-data">
	<legend><%= work ? 'Update' : 'Create' %> Work</legend>
	<p>
		<label>Title</label>
		<input type="text" name="workTitle" value="<%= work ? work.get('workTitle') : '' %>"/>
	</p>
	<p>
		<label>Image</label>
		<span class="btn btn-default btn-file">
		    Browse <input type="file" name="pahtImage" accept="image/*">
		</span>
		 
	</p>
	<p>
		<label>Description</label>
		<input type="text" name="workText" value="<%= work ? work.get('workText') : '' %>"/>
	</p>
	<p>
		<label>Tags</label>
		<input type="text" name="workTags" value="<%= work ? work.get('workTags') : '' %>"/>
	</p>
	<hr />
	<Button type="submit" class="btn"><%= work ? 'Update' : 'Create' %></Button>
	<% if(work){ %>
		<input type="hidden" name="id" value="<%= work.id %>"/>
		<Button type="button" class="btn btn-danger delete-work">Delete</Button>
	<% }else{ %>
		<a href="#/work" class="btn btn-danger">Back</a>
	<% }; %>
	
</form>